header {
    margin: auto;
    display:block;
    position: relative;
    text-align: center;
}
button {
    border-style: none;
    background: rgb(255, 255, 255);
    display:block;
    margin: 0 auto;
    position: relative;
}
div{
    border-style: none;
    background: rgb(248, 247, 247);
    display:block;
    margin: 30px auto;
    position: relative;
    height: 40px;
}
